<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Love Envelope 💌</title>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Признання в любові</h1>
    <h2>P.S. Особливо рекомендується на випадок поганого настрою</h2>

    <div class="envelope" id="envelope">
      <div class="flap"></div>
      <div class="paper">💌</div>
    </div>

    <p id="message" class="message">Натисни на конвертик, щоб отримати любовне повідомлення</p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
